<div class="container mt-5">
    <h2>Perfil de usuario</h2>
    <div  *ngIf="auth.user$ | async as user">
        <div class="cardUser">
            <ul>
                <li>
                    <div class="images">
                        <img [src]="user.picture" [alt]="user.name">
                    </div>
                </li>
        
                <li>
                    <p>{{ user.name }}</p>
                </li>
        
                <li>
                    <p>{{ user.email }}</p>
                </li>
            </ul>
        </div>
        </div>    
</div>
