  <div class="barr">
    <header>
      <a href="#"><img src="../../../assets/images/logo.png" class="logo" alt="logoPepsi"></a>
      <div class="toggleMenu" onclick="menuToggle()"></div>
      <ul class="navigation">
          <li class="">
            <a class="" [routerLink]="['home']">Home</a>
          </li>
          <li class="" *ngIf="auth.isAuthenticated$ | async;">
            <a class="" [routerLink]="['protegida']">Protegida</a>
          </li>
          <li><a href="#">Products</a></li>
          <li><a href="#">What's New</a></li>
          <li><a href="#">Newsletter</a></li>
          <li><a href="#">Contact</a></li>
      </ul>

      <span class="navbar-text">
        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
            <button (click)="auth.logout({ returnTo: document.location.origin })" class="btn btn-outline-danger">
              Log out
            </button>
          </ng-container>
      
          <ng-template #loggedOut>
            <button (click)="auth.loginWithRedirect()" class="btn btn-outline-light">Log in</button>
          </ng-template>
      </span>
  </header>
  </div>